[user]
    name = Felix Geller
    email = fgeller@protonmail.com
    signingkey = 71E54A69B0C4269F
[color]
    ui = true
[color "diff"]
    whitespace = red reverse
[diff]
    algorithm = patience
    tool = difftastic
	external = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[core]
    whitespace=space-before-tab,tab-in-indent,trailing-space,cr-at-eol,tabwidth=2
    tabwidth = 2
    excludesfile = ~/.globalgitignore
    fileMode = false
    trustctime = false
[interactive]

[branch]
    autosetuprebase = always
[push]
    default = nothing
[pull]
    rebase = true
[rerere]
    enabled = false
[merge]
    ff = false
    conflictstyle = diff3
[format]
    pretty = %C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d%n %Creset%s %C(normal green dim)%-(trailers:key=Close,key=Closes,key=Fixes,key=Fix,key=For,key=Related,separator=%x2C,valueonly)
[alias]
    a = add -p
    ad = add
    c = commit
    co = checkout
    d = diff --word-diff=color
    dc = diff --word-diff=color --cached
    dw = "!bash -c \"git diff --word-diff=color | sed 's/\t/» /g'\""
    fb = "!bash -c 'git branch -a -v | grep $1' -"
    ff = merge --ff-only
    g = grep
    l =  log -15 --format=' %<(7,trunc)%an %<(65,trunc)%s'
    ll =  log -15 --format=' %<(72,trunc)%s %h %<(10,trunc)%an %-(trailers:key=Close,key=Closes,key=Fixes,key=Fix,key=For,key=Related,separator=%x2C,valueonly) %<(32,trunc)%d'
    lg = log --format=' %<(15,trunc)%an %ad %C(blue)%h%Creset %<(60,trunc)%s %<(30,trunc) %C(blue)%d%Creset' --date=short
    s = status -s -b
    sh = show --color-words
    tags = log --tags --simplify-by-decoration --pretty='format:%ai %d'
    u = remote update

[commit]
    template = ~/.gitmsg.txt
    gpgsign = true
[gui]
    fontui = -family Roboto -size 14 -weight normal -slant roman -underline 0 -overstrike 0
    fontdiff = -family \"Roboto Mono\" -size 13 -weight normal -slant roman -underline 0 -overstrike 0
[github]
	user = fgeller
[credential]
        helper = store
[magit]
        hideCampaign = true
[gpg]
        program = /bin/gpg
[init]
        defaultBranch = main
[gitlab]
	user = fgeller
