# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
/.emacs.d/package-quickstart.el
/.emacs.d/.lsp-session-v1
/.emacs.d/transient/
/.emacs.d/.cache/
/.emacs.d/places
/.emacs.d/.dap-breakpoints
/.emacs.d/eln-cache/*
/.emacs.d/projects
/.emacs.d/multisession
